<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>模板</title>
		<link rel="stylesheet" type="text/css" href="../../static/css/aui.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/css/aui.popover.css"/>
		<script type="text/javascript" src="../../static/js/aui.min.js"></script>		
		<script type="text/javascript" src="../../static/js/aui.popover.js"></script>
		<style type="text/css">
			.aui-content{padding: 0 0 65px 0;}
			.content-top{width: 100%; padding: 20px; box-sizing: border-box;}
			.content-top h2{width: 100%; line-height: 40px; font-size: 18px; color: #333;}
			.content-top p{width: 100%; line-height: 20px; font-size: 13px; color: #888;}
		</style>
	</head>
	<body>
		<div class="container">
			<header class="aui-header">				
				<div class="aui-header-title" style="left: 15px;">模板</div>
			</header>
			<div class="aui-content">
				<div class="content-top">
					<h2>Template</h2>
					<p>常用页面模板，动态交互效果模板</p>
				</div>
				<div class="aui-grids">
					<div class="aui-grid aui-col-xs-4" onclick="aui.openWin('search/index.html')">
						<div class="aui-grid-icon"><i class="iconfont iconsearch" style="font-size: 22px; color: #007AFF;"></i></div>
						<div class="aui-grid-text">Search搜索</div>
					</div>
					<div class="aui-grid aui-col-xs-4" onclick="aui.openWin('sidemenu/index.html')">
						<div class="aui-grid-icon"><i class="iconfont iconlist" style="font-size: 28px; color: #F44336;"></i></div>
						<div class="aui-grid-text">侧滑菜单</div>
					</div>
					<div class="aui-grid aui-col-xs-4" onclick="aui.openWin('upload/uploadimg.html')">
						<div class="aui-grid-icon"><i class="iconfont icontupianshangchuan" style="font-size: 22px; color: #2CB0B2;"></i></div>
						<div class="aui-grid-text">图片上传</div>
					</div>
					<div class="aui-grid aui-col-xs-4" onclick="aui.openWin('imgview/index.html')">
						<div class="aui-grid-icon"><i class="iconfont iconimage1" style="font-size: 25px; color: #F44336;"></i></div>
						<div class="aui-grid-text">图片预览</div>
					</div>
					<div class="aui-grid aui-col-xs-4" onclick="aui.openWin('cropper/index.html')">
						<div class="aui-grid-icon"><i class="iconfont icontupiancaijian" style="font-size: 22px; color: #8BC34A;"></i></div>
						<div class="aui-grid-text">图片裁剪</div>
					</div>
					<div class="aui-grid aui-col-xs-4" onclick="aui.openWin('rgbaster/index.html')">
						<div class="aui-grid-icon"><i class="iconfont iconzhutise" style="font-size: 25px; color: #03A9F4;"></i></div>
						<div class="aui-grid-text">图片主色</div>
					</div>
					<div class="aui-grid aui-col-xs-4" onclick="aui.openWin('rating/rating-index.html')">
						<div class="aui-grid-icon"><i class="iconfont iconselect_fill" style="font-size: 35px; color: #FFB74D;"></i></div>
						<div class="aui-grid-text">星级评价</div>
					</div>
					<div class="aui-grid aui-col-xs-4" onclick="aui.openWin('picker/index.html')">
						<div class="aui-grid-icon"><i class="iconfont icondatepicker1" style="font-size: 22px; color: #FB6802;"></i></div>
						<div class="aui-grid-text">选择器</div>
					</div>
					<div class="aui-grid aui-col-xs-4" onclick="aui.openWin('selectmenu/index.html')">
						<div class="aui-grid-icon"><i class="iconfont iconxialaliebiao" style="font-size: 25px; color: #fec002;"></i></div>
						<div class="aui-grid-text">下拉选择</div>
					</div>
					<div class="aui-grid aui-col-xs-4" onclick="aui.openWin('tabbar/tabbar-index.html')">
						<div class="aui-grid-icon"><i class="iconfont iconxuanxiangqia1" style="font-size: 22px; color: #EC2B45;"></i></div>
						<div class="aui-grid-text">选项卡</div>
					</div>
					<div class="aui-grid aui-col-xs-4" onclick="aui.openWin('qrcode/qrcode-index.html')">
						<div class="aui-grid-icon"><i class="iconfont iconerweima" style="font-size: 25px; color: #12986D;"></i></div>
						<div class="aui-grid-text">生成二维码</div>
					</div>
					<div class="aui-grid aui-col-xs-4" onclick="aui.openWin('clipboard/index.html')">
						<div class="aui-grid-icon"><i class="iconfont iconcopy" style="font-size: 25px; color: #007AFF;"></i></div>
						<div class="aui-grid-text">复制剪贴板</div>
					</div>
					<div class="aui-grid aui-col-xs-4" onclick="aui.openWin('logistics/index.html')">
						<div class="aui-grid-icon"><i class="iconfont iconwuliu" style="font-size: 28px; color: #e53b6b;"></i></div>
						<div class="aui-grid-text">物流信息</div>
					</div>
					<div class="aui-grid aui-col-xs-4" onclick="aui.openWin('parabola/index.html')">
						<div class="aui-grid-icon"><i class="iconfont iconxingzhuang" style="font-size: 25px; color: #f6a820;"></i></div>
						<div class="aui-grid-text">加入购物车</div>
					</div>
					<div class="aui-grid aui-col-xs-4" onclick="aui.openWin('wave/index.html')">
						<div class="aui-grid-icon"><i class="iconfont iconweibiaoti-zhuanhuan-" style="font-size: 28px; color: #8BC34A;"></i></div>
						<div class="aui-grid-text">波浪特效</div>
					</div>
					<div class="aui-grid aui-col-xs-4" onclick="aui.openWin('waterbubble/index.html')">
						<div class="aui-grid-icon"><i class="iconfont iconqiu" style="font-size: 25px; color: #FB6802;"></i></div>
						<div class="aui-grid-text">水球图</div>
					</div>
					<div class="aui-grid aui-col-xs-4" onclick="aui.openWin('countdown/index.html')">
						<div class="aui-grid-icon"><i class="iconfont icondaojishi" style="font-size: 22px; color: #EC2B45;"></i></div>
						<div class="aui-grid-text">倒计时</div>
					</div>
					<div class="aui-grid aui-col-xs-4" style="display: none;" onclick="aui.openWin('redpacket/index.html')">
						<div class="aui-grid-icon"><i class="iconfont iconredpacket_fill" style="font-size: 28px; color: #FF5555;"></i></div>
						<div class="aui-grid-text">红包雨</div>
					</div>
				</div>
			</div>
			<footer class="aui-footer row-before">
				<div class="aui-footer-list" onclick="aui.openWin('../../index.html')"><i class="iconfont iconapi"></i><p>接口</p></div>
				<div class="aui-footer-list" onclick="aui.openWin('../ui/index.html')"><i class="iconfont iconui"></i><p>组件</p></div>
				<div class="aui-footer-list active" onclick="aui.openWin('index.html')"><i class="iconfont icontamplate"></i><p>模板</p></div>
				<a class="aui-footer-list" target="_blank" href="https://www.kancloud.cn/chen-wanchun/aui-js"><i class="iconfont icondoc"></i><p>文档</p></a>
			</footer>
		</div>
	</body>
	<script type="text/javascript">
		window.addEventListener("load", function(){			
			var lists = document.querySelectorAll(".aui-grid");
			for(var i = 0; i < lists.length; i++){
				aui.touchDom(lists[i], "#EFEFEF");
			}				
		});
	</script>
</html>
